<div ng-if="visible.show" class="col-sm-3">
    <ng-form>
        <div >
            <input type="text" ng-model="selectedTodo.todo.name" placeholder="Имя исполнителя">
            <input type="text" ng-model="selectedTodo.todo.task" placeholder="Содержание задачи">
            <input type="datetime-local" ng-model="selectedTodo.todo.date">
            <textarea ng-model="selectedTodo.todo.comment"></textarea>
        </div>
        <button type="button" class="btn btn-success" ng-click="add(selectedTodo.todo)">Ок</button>
        <button type="button" class="btn btn-danger" ng-click="cancel()">Отмена</button>
    </ng-form>
</div>